<h2>What sides would you like?</h2>

<form action="/result" method="post">
  <div class="form-group">
    <label for="side1">This is the length of the first side</label>
    <input type="number" name="side1" class="form-control">

    <label for="side2">This is the length of the second side</label>
    <input type="number" name="side2" class="form-control">

    <label for="side3">This is the length of the third side</label>
    <input type="number" name="side3" class="form-control">

    <button type="submit" name="button">What kind of triangle is it?</button>
  </div>
</form>
